<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelemtno de hórario, confira os detalhes abaixo:</p>
<p>
	<strong>Cliente: </strong> {{ user }} <br />
	<strong>Data/hora: </strong> {{ date }} <br />
	<br />
	<small>
		O horário esta novamento disponivel para novos agendamentos.
	</small>
</p>
